/**
 * Style for crystal game
 * Luiz Oliveira
 **/
 * {
  text-align: center;
  font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}
p{
  font-size: 13px;
}
body {
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}
h4{
  text-align: center;
}
.card-header{
  font-size: 16px;
  font-size-adjust: initial;
}
#gametitle{
                text-align: center;
                font-size: 50px;
              }
.img-fluid{
  border: 2px solid green;
  
  border-radius: 4px;
  
  transition: box-shadow 1s;
}